html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* General Styling */
html {
    font-size: 125%;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
    width: 100%;
}

a,
h2,
h3 {
    font-family: 'Varela Round', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.hidePages {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

ul,
li,
h1,
h2,
h3,
img {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
}

h2 {
    padding-top: 50px;
}

h1,
h2,
i,
p {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

/* page navigation styling */
.pageNav {
    position: fixed;
    right: 120px;
    width: 175px;
    top: 20px;
    z-index: 5;
}

.pageNav ul {
    display: flex;
    justify-content: space-evenly;
}

ul li {
    list-style: none;
}

ul li button {
    display: block;
    background-color: rgb(0, 0, 0);
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    position: relative;
    border: 1px transparent solid;
}

button:hover,
button:focus {
    cursor: pointer;
}

ul li button:active {
    transform: rotate(45deg) scale(0.9);
}

.pageNav button i,
.pageNav a i {
    color: rgb(255, 255, 255);
    transform: rotate(-45deg);
    margin-top: 5px;
    font-size: 0.8rem;
    position: absolute;
    right: 6px;
    top: 1px;
}

/* main page styling */
.mainPage {
    background-color: rgb(118, 195, 188);
    background-image: url(./assets/noise.png), 
    radial-gradient(ellipse farthest-corner at center, #A1D6D1 0%, #8FCEC8 50%, #509793 100%);
    width: 100vw;
    height: 100vh;
}

.container {
    height: 80%;
    padding: 175px 90px 0 90px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gridItem1 {
    grid-area: 1 / 1 / 2 / 3;
}

.gridItem2 {
    grid-area: 1 / 3 / 2 / 4;
}

.gridItem3 {
    grid-area: 2 / 1 / 3 / 3;
}

.gridItem4 {
    grid-area: 1 / 4 / 2 / 5;
}

.gridItem5 {
    grid-area: 2 / 4 / 3 / 5;
}

.gridItem6 {
    grid-area: 3 / 1 / 4 / 1;
}

.gridItem7 {
    grid-area: 3 / 3 / 4 / 4;
}

.gridItem8 {
    grid-area: 3 / 4 / 2 / 3; 
}

.empty {
    background-color: rgba(255, 255, 255, 0.2);
}

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
}

.skills i {
    font-size: 2.5rem;
}

.myName {
    text-align: center;
}

h1 {
    margin-top: 70px;
    font-family: 'Merienda', cursive;
    color: rgb(255, 255 ,255);
    font-size: 3rem;
}

.clickBox {
    background: rgba(255, 255, 255);
    position: relative;
    transition: background 1s ease;
    transition-delay: 1s;
}

.clickBox button {
    position: absolute;
    top: 44%;
    text-transform: uppercase;
    background: none;
    border: none;
    color:rgb(0, 0, 0);
    font-size: 1.2rem;
    transition: color 0.5s ease;
    transition-delay: 1s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.about button,
.projects button {
    left: 24%;
}


.contact button {
    left: 27%;
}

.clickBox .line {
    position: relative;
}

.clickBox .line::after,
.clickBox .line::before {
    position: absolute;
    left: 0;
    width: 100%;
    content: '';
    background: rgb(255, 255, 255);
    height: 1px;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.clickBox .line::after {
    bottom: 0;
    transform: translateY(10px);
}

.clickBox .line:hover::after {
    transform: translateY(0);
}

.clickBox .line::before {
    transform: translateY(-10px);
    top: 0;
}

.clickBox .line:hover::before {
    transform: translateY(0);
}

.clickBox .line:hover::before,
.clickBox .line:hover::after {
    opacity: 1;
}

.clickBox:hover {
    background: none;
    transition: background 0.3s ease;
}

.clickBox:hover button {
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
    transition-delay: none;
}


.border {
    position: absolute;
    transition: width 1s ease, height 1s ease;
}

.topBorder {
    border-top: 2px solid rgb(255, 255 ,255);
    width: 1%;
    top: 0;
    left: 0;
}

.leftBorder {
    border-left: 2px solid rgb(255, 255, 255);
    height: 1%;
    left: 0;
    top: 0;
}

.rightBorder {
    border-right: 2px solid rgb(255, 255, 255);
    height: 1%;
    right: 0;
    bottom: 0;
}

.bottomBorder {
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 1%;
    bottom: 0;
    right: 0;
}

.clickBox:hover .topBorder,
.clickBox:hover .bottomBorder {
    width: 100%;
    transition: width 1s ease;
}

.clickBox:hover .leftBorder,
.clickBox:hover .rightBorder {
    height: 100%;
    transition: height 1s ease;
}


/* about page styling */
.page2 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: -100%;
    top: 0;
}

.page2,
.aboutHeader .diamond {
    background-color: rgb(252, 205, 28);
    background-image: url(./assets/noise.png), 
    radial-gradient(ellipse farthest-corner at center, rgb(253,218,88) 0%, rgb(253,212,63) 50%, rgb(235,181,30) 100%);
}

.aboutHeader {
    background-image: url(./assets/foodBackground.jpg);
    background-size: contain;
    position: relative;
    height: 30%;
    background-repeat: repeat;
}

.aboutImgContainer {
    width: 30%;
    clip-path: polygon(20% 0%, 78% 0, 100% 100%, 0% 100%);
    margin-right: 40px;
}

.aboutInfo {
    display: flex;
    width: 100%;
    margin-top: 40px;
}


.aboutTextContainer {
    width: calc(70% - 40px);
    margin-top: 50px;
}

/* project page styling */

.page3 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: -200%;
    top: 0;
}

.page3,
.projectHeader .diamond {
    background-color: rgb(231,70,66);
    background-image: url(./assets/noise.png),
    radial-gradient(ellipse farthest-corner at center, rgb(238,123,120) 0%, rgb(235,101,97) 50%, rgb(216,70,66) 100%);
}


.projectHeader {
    background-image: url(./assets/code.jpg);
    height: 30%;
    background-position: center;
    position: relative;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 200px);
    gap: 20px;
    margin: 30px auto 0;
    justify-content: center;
}

.project1 { 
    grid-area: 1 / 1 / 2 / 2; 
}

.project2 { 
    grid-area: 1 / 2 / 2 / 3; 
}

.project3 { 
    grid-area: 1 / 3 / 2 / 4; 
}

.project4 { 
    grid-area: 2 / 1 / 3 / 2; 
}

.project5 { 
    grid-area: 2 / 2 / 3 / 3; 
}

.project6 { 
    grid-area: 2 / 3 / 3 / 4; 
}
  
.project {
    position: relative;
    overflow: hidden;
}

.project img {
    height: 100%;
    border: 1px transparent solid;
}

.project:hover .projectDesc,
.project:focus .projectDesc{
    transform: translateY(100%);
    transition: transform 0.5s ease;
}

.projectDesc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 4;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

.project {
    box-shadow: 5px 5px 2px rgb(0, 0, 0, 0.8);
}

.projectDesc .title {
    width: calc(90% - 30px);
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projectNav {
    visibility: hidden;
}

.title p {
    font-size: 0.8rem;
}

.tools {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 10px;
    margin-left: 20px;
    height: 100%;
}

.tools i {
    font-size: 1.5rem;
}

.links {
    display: flex;
    justify-content: space-evenly;
    width: 80%
}


.links a:hover,
.links a:focus {
    color: rgb(231,70,66);
}




/* contact page styling */

.page4 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: -300%;
    top: 0;
}

.page4,
.contactHeader .diamond {
    background-color: rgb(212,220,241);
    background-image: url(./assets/noise.png),
    radial-gradient(ellipse farthest-corner at center, rgb(212,220,250) 0%, rgb(200,190,255) 100%);
}

.contactHeader {
    height: 30%;
    background-image: url(./assets/coffeeBackground.jpg);
    background-size: cover;
    position: relative;
}

.diamond {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: -25px;
    left: calc(50% - 25px);
    z-index: 100;
    transform: rotate(45deg);
    border: 3px solid rgb(255, 255, 255);
}

.contactFlex {
    display : flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    justify-content: space-between;
}

.contactFlex a {
    color: rgb(0, 0, 0);
}


.social {
    width: 40%;
}

.social ul{
    display: flex;
    justify-content: space-around;
}

.contactFlex i {
    font-size: 1.5rem;
}

.contactFlex i:hover,
.contactFlex i:focus,
.contactFlex a:hover,
.contactFlex a:focus {
    transform: scale(1.5);
}

.contactMessage {
    width: 50%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Carousel Stuff */
.carousel {
    height: 100vh;
    width: 100vw;
    transition: transform 0.5s ease;
}


/* media queries */

@media (max-width: 1300px) {
    .wrapper {
        max-width: 1000px;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1080px) {

    .wrapper {
        max-width: 800px;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding-top: 100px;
    }

    
    .gridItem1 { 
        grid-area: 1 / 1 / 2 / 2; 
    }   

    h1 {
        margin-top: 60px;
    }

    .gridItem2 { 
        grid-area: 2 / 1 / 3 / 2; 
    }
    
    .gridItem3 { 
        grid-area: 1 / 2 / 2 / 3; 
    }

    .gridItem4 { 
        grid-area: 2 / 2 / 3 / 3; 
    }

    .gridItem5 { 
        grid-area: 3 / 2 / 4 / 3; 
    }

    .gridItem6 { 
        grid-area: 4 / 2 / 5 / 3; 
    }

    .gridItem7 { 
        grid-area: 4 / 1 / 5 / 2; 
    }

    .skills {
        margin-top: 20px;
    }

    .skills li {
        margin-top: 20px;
    }

    .skills i {
        margin-left: 20px;
        font-size: 2rem;
    }

    .skills:first-child {
        margin-left: 0;
    }

}

@media (max-width: 1000px) {

    .pageNav {
        right: 40px
    }

    .projectContainer {
        height: 50%;
        overflow: hidden;
    }

    .projectGrid {
        overflow-y: scroll;
        height: 90%;
        scroll-snap-type: x mandatory;
        grid-template-columns: repeat(2, 47%);
        grid-template-rows: repeat(3, 225px);
    }

    .project1 { 
        grid-area: 1 / 1 / 2 / 2; 
    }

    .project2 { 
        grid-area: 1 / 2 / 2 / 3; 
    }

    .project3 { 
        grid-area: 2 / 1 / 3 / 2; 
    }

    .project4 { 
        grid-area: 2 / 2 / 3 / 3; 
    }

    .project5 { 
        grid-area: 3 / 1 / 4 / 2; 
    }

    .project6 { 
        grid-area: 3 / 2 / 4 / 3; 
    }


}

@media (max-width: 850px) {

    .container {
        height: 90%
    }

    .wrapper {
        max-width: 600px;
    }

    h1 {
        margin-top: 10px;
    }

    .skills i {
        font-size: 2rem;
    }

    .aboutImgContainer {
        width: 40%;
        margin-top: 70px;
    }

    .aboutTextContainer {
        width: calc(60% - 40px);
    }

    p {
        font-size: 0.8rem;
    }
}

@media (max-width: 650px) {
    .wrapper {
        max-width: 500px;
    }

    .gridItem3 i {
        margin-left: none;
    }

    .skills i {
        margin-left: 10px;
    }
    
    .skills {
        margin-top: 0;
        text-align: center;
    }

    .skill li {
        margin-bottom: 20px;
    }

    .projectGrid {
        grid-template-columns: 90%;
        grid-template-rows: repeat(6, 300px);
    }

    .project1 { 
        grid-area: 1 / 1 / 2 / 2; 
    }

    .project2 { 
        grid-area: 2 / 1 / 3 / 2; 
    }

    .project3 { 
        grid-area: 3 / 1 / 4 / 2; 
    }

    .project4 { 
        grid-area: 4 / 1 / 5 / 2; 
    }

    .project5 { 
        grid-area: 5 / 1 / 6 / 2; 
    }

    .project6 { 
        grid-area: 6 / 1 / 7 / 2; 
    }

    .social {
        width: 60%;
    }

}

@media (max-width: 550px) {
    .wrapper {
        max-width: 400px;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }

    .gridItem1 { 
        grid-area: 1 / 1 / 2 / 2; 
    }

    .gridItem3 { 
        grid-area: 2 / 1 / 3 / 2; 
    }

    .gridItem2 { 
        grid-area: 3 / 1 / 4 / 2; 
    }

    .gridItem4 { 
        grid-area: 4 / 1 / 5 / 2; 
    }

    .gridItem5 { 
        grid-area: 5 / 1 / 6 / 2; 
    }

    .gridItem6 { 
        grid-area: 6 / 1 / 7 / 2; 
    }

    .gridItem7 { 
        grid-area: 7 / 1 / 8 / 2; 
    }

    .about button,
    .projects button,
    .contact button {
        left: 32%;
        top: 38%;
    }

    .aboutInfo {
        flex-direction: column;
        align-items: center;
    }

    .aboutImgContainer {
        margin: 0;
    }
    
    .aboutTextContainer {
        margin-top: 0;
        width: 100%;
    }

    .skills i {
        margin-left: 20px;
    }

    .skills:last-child {
        margin-bottom: 30px;
    }

    .projectGrid {
        grid-template-rows: repeat(6, 200px);
    }
}

@media (max-width:450px) {
    .wrapper {
        max-width: 320px;
    }

    .aboutHeader,
    .projectHeader,
    .contactHeader {
        height: 20%;
    }

    .about button,
    .projects button,
    .contact button {
        top: 32%;
    }

    .pageNav {
        right: 28%;
    }

    h1 {
        font-size: 2.8rem;
    }

    h2 {
        padding-top: 40px;
        font-size: 1.8rem;
    }

    .aboutInfo {
        margin-top: 20px;
    }

    .aboutTextContainer p {
        font-size: 0.7rem;
    }

    .skills i {
        font-size: 1.7rem;
    }

    .about button,
    .projects button,
    .contact button {
        left: 29%;
    }

    .contactFlex {
        margin-top: 40px;
    }

    .contactMessage {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .wrapper {
        max-width: 300px;
    }

    .pageNav {
        right: 23%;
    }
}

@media (max-height: 900px) {
    .about button,
    .projects button,
    .contact button {
        left: 23%;
    }

    h1 {
        margin-top: 30px;
    }

    .skills {
        margin-top: 20px;
    }

    .aboutHeader,
    .projectHeader,
    .contactHeader {
        height: 15%;
    }
    
    h2 {
        font-size: 2.1rem;
        padding-top: 40px;
    }

    .aboutImgContainer {
        width: 20%;
    }

    .aboutTextContainer {
        width: calc(80% - 40px);
        margin-top: 0;
    }

    .projectGrid {
        margin-top: 10px;
    }
}


